<h1><%= @movie.title %></h1>

<p>Year: <%= @movie.year %></p>
<p>Plot: <%= @movie.plot %></p>
<p>MPAA Rating: <%= @movie.mpaa_rating %></p>
<p>My Rating: <%= number_to_percentage(@movie.rating) %></p>

<%= button_to "Vote up", change_rating_path(@movie.id, pref: up) %>
<%= button_to "Vote down", change_rating_path(@movie.id, pref: down) %>
<%= button_to "Fave", change_rating_path(@movie.id, pref: fave) %>


